fastapi
uvicorn
python-docx==1.1.2
transformers==4.42.3
torch ==2.3.1
tqdm == 4.66.4
chromadb==0.5.4
sentence-transformers==3.0.1
flagembedding==1.2.10
wheel==0.43.0
einops==0.8.0
semantic-router==0.0.51
flash_attn --no-build-isolation